<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>

    <header class="header">

        <a href="#" class="logo">
            <img src="../assets/images/Screenshot.png" alt="">
        </a>

        <nav class="navbar">
            <a href="./temp">home</a>
            <a href="#about">about</a>
            <a href="#resources">resources</a>
            <a href="#videos">videos</a>
            <a href="#job">job</a>
            <a href="#contact">contact</a>
        </nav>

        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="search" id="search-box" placeholder="Search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>

    </header>

    <section class="home" id="home">

        <div class="content">
            <h2>Teachers open the door, but you must <span>enter by yourself.</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat labore, sint cupiditate distinctio
                tempora reiciendis.</p>
            <a href="#" class="btn">subscribe us</a>
        </div>

    </section>

    <section class="card-section">
        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Data Structures</h3>
                </div>
                <div class="back">
                    <h3>Data Structures</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1cmSWUeoUhS_FZ-bgi1ytXO0P40LZ66lR?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Discrete Maths</h3>
                </div>
                <div class="back">
                    <h3>Discrete Maths</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/10kIB_hxW9ydIZZtuyTk9PQdLly-Lr5Z4?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Microprocessor</h3>
                </div>
                <div class="back">
                    <h3>Microprocessor</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1QPeog-qdTySEwKkXAG0bIwrtpVslcGW-?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Database Management System</h3>
                </div>
                <div class="back">
                    <h3>Database Management System</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1ypcLTIOhxW0nVGwNPc2uh5oSZBgHM54x?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Computer Network</h3>
                </div>
                <div class="back">
                    <h3>Computer Network</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1xfYn5nzV_LUFdE-NMqxyj7_eGJ99AV-u?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Computer Organisation</h3>
                </div>
                <div class="back">
                    <h3>Computer Organisation</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1M0oPvG32WCjL5JBhh_AnlA2EZ0BrRRV2?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Java</h3>
                </div>
                <div class="back">
                    <h3>Java</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1vP-hYKN-52C_-0oeqDISkElJ3q70LKDq?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Operating System</h3>
                </div>
                <div class="back">
                    <h3>Operating System</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1H_WyfaJ34pyws6p4us0gXEOLLEOG1rV2?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="front">
                    <div class="img"></div>
                    <h3>Software Engineering</h3>
                </div>
                <div class="back">
                    <h3>Software Engineering</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn"> 
                        <a href="https://drive.google.com/drive/folders/1n8-LdBEOj7yhXTqJKZRn61Z1VVONaz7p?usp=share_link" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="../assets/scripts/script.js"></script>
</body>

</html>