@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

section{
    padding:2rem 7%;
}

html{
    font-size: 75%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(250, 244, 244);
    color: var(--main-color);
    font-weight: bolder;
    transition: ease-in-out 0.5s;
}

.header{
    background: rgb(30 29 29 / 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1px 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 2.5rem;
    font-size: 1.4rem;
    color:#fff;
    text-decoration: none;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons #search-btn{
    font-size: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 30rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(125deg,#282636cc 40%,#120F2D00 70%), url('../images/pexels.jpg') no-repeat center center/cover;
}

.home .content{
    max-width: 69rem;
}

.home .content h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content span{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: yellow;
}

.home .content p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

/* RESOURCES SECTION */
.card-section{
    /* background-color: #212124; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card-section .container{
    width: 300px;
    height: 400px;
    perspective: 800px;
    margin: 25px 0px;
}

.card-section .container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
    color: white;
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1200ms;
    transform-style: preserve-3d;
    border: none;
}

.card .front,.back{
    border-radius: 80px 70px 10px 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 2px rgba(50,50,50,.3);
    position: absolute;
    backface-visibility: hidden;
}
.card .front{
    background: url('../images/pexels.jpg')no-repeat center center/cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card .front h3{
    position: absolute;
    bottom: 20px;
    font-size: 3rem;
    color: yellow;
}
.card .back{
    background: linear-gradient(to right, #0f78a5, #297b94, #06242e);
    transform: rotateY(180deg) rotateZ(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px;
}

.card .back h3{
    color: var(--main-color);
}

.card .back p{
    font-size: 1.5rem;
}

.container .card .back .btn{
    background-color: rgb(252, 246, 246);
}

.container:hover .card .back .btn a{
    color: blue;
    font-weight: bolder;
}







/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    .home{
        min-height: 70vh;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -120%;
        display: block;
        text-align: center;
        width: 30rem;
        background-color: #010103;
        opacity: 0.8;
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color: #fff;
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h2{
        font-size: 2.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:520px){

    html{
        font-size: 42%;
    }

    .home{
        min-height: 60vh;
    }

    .home .content span{
        font-size: 2.5rem;
        color: yellow;
    }
    .card-section .container{
        width: 250px;
        height: 300px;
    }
}