:root{
    --primaryColor:#0076de;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    font-family: 'Nunito', sans-serif;
}
body{
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
    
}
#menu{
    /* background-color: rgb(21, 63, 189); */
    background: #0076de ;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

#menu .logo{
    display: flex;
    align-items: center;
    color: white;
    padding: 30px 0 0 30px;

}

#menu .logo img{
    width: 40px;
    margin-right: 15px;
}
#menu .items{
    margin-top: 40px;

}
#menu .items li{
    list-style: none;
padding: 15px 0;
transition: 0.3s ease;

}

#menu .items li:hover{
    background-color: #253047;
    cursor: pointer;

}
#menu .items li:nth-child(1){
    border-left: 4px solid #ffff;
}

/* #menu .items li:hover i,
#menu .items li:hover i{
    color: #f3f4f6;
} */


#menu .items li a{
    text-decoration: none;
    /* color: rgba(134,141,151); */
    font-size: 20px;
    color: white;
    font-weight: 300px;
    transition: 0.3s ease;
}


#menu .items li i{
    /* color: rgba(134,141,151); */
    /* color: black; */
    width: 21px;
    height: 19px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
    color: white;
}

#interface{
    /* width: calc(100%-300px); */
    width: 100%;
    margin-left: 300px;
    position: relative;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#ffff;
    padding: 4px 3rem;
    border-bottom: 3px solid #0076de;
    position: fixed;
    /* width: calc(100%-300px); */
    width: 77%;
    margin-bottom: 1px;
}

.navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid white;
    border-radius: 4px;
}

.navigation .search i{
    margin-right: 14px;
}
.navigation .search .postjobs{
    border: none;
    outline: none;
    font-size: 14px;
    border: 1px solid var(--primaryColor);
    background: var(--primaryColor);
    border-radius: 30px;
    width: 86px;
    height: 29px;
    color: white;

}
/* .navigation .navigation .n1 .search button{
    border: 1px solid blue; 
    background:blue;
} */

.profile{
    display: flex;
    align-items: center;
}
.profile img{
    margin-left: 7px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 34px;
}
.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.values .val-box{
    background-color: white;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    
    margin-right: 15px;
}
.values .val-box:nth-child(1) i{
    background: var(--primaryColor);
}

.values .val-box:nth-child(2) i{
    background: orange;
}
.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span{
    font-size: 15px;
    color: #828997;
}
.board{
    width: 74%;
    margin: 30px 0 30px 30px;
    background-color: #fff;
    overflow: auto;
    border-radius: 8px;
}
.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right:15px;
}

.board h5{
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 400px;
    font-size: 13px;
    color: #787d8d;
}
.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid snow;
}
thead td{
    font-size: 14px;
 text-transform: uppercase;
 background: #f9faf8;
 font-weight:400;
 text-align: center;
 padding: 15px;
}

tbody tr td{
    padding: 10px 30px 25px 66px;
}
.role,
.deny{
    padding-left: 40px;
}

.role button{
    border: 0;
    outline: none;
    /* background-size: 10px; */
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    width: 84px;
    height: 31px;
   
    text-align: center;
    align-items: center;
}

.deny button{
    border: 0;
    outline: none;
    /* background-size: 10px; */
    background-color: rgb(231, 65, 44);
    border-radius: 10px;
    cursor: pointer;
    width: 84px;
    height: 31px;
   
    text-align: center;
    align-items: center;
}

.deny{
    text-decoration: none;
    font-size: 14px;
    color:#554cd1;
    font-weight: 600;
}
.role button{
    color: white;
}

@media(max-width:769px){
    #menu{
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }
    #menu.active{
        left: 0px;
    }
    #menu-btn{
        display: initial;
    }
    #interface{
        position: fixed;
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }
    #menu.active~ #interface{
        width: calc(100% - 270px);
        margin: 270px;
        transition: 0.3s ease;
    }
    #interface .navigation{
        width: 100%;
    }
    .values{
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }
    .values .val-box{
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }
    .board{
        width: 92%;
        padding: 0;
        overflow-x: auto;
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }

}
@media(max-width: 477px){
    #interface .navigation{
        padding: 15px;
    }
    /* #interface .navigation .n1 .search .postjobs{
        text-decoration: none;
        border: 0px;
        width: 150px;
    } */

    
    
    .i-name{
        padding: 30px 15px 0 15px;
    }
    .values{
        padding: 15px 15px 0 15px;
    }
    .values .val-box{
        width: 100%;
        margin: 8px 0;   
    }
    .board{
        margin: 30px 15px 30px 15px; 
    }
}