@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    padding: 100px 50px;
    display: none;
    position: fixed;
    top: 5%;
    width: 100%;
}

.body .videos{
    position: relative;
    background: #dfd9d9;
    border-radius: 25px;
    /* border: 2px solid black; */
    padding: 10px 50px;
}

.body .videos .item .card {
    position: relative;
    height: 360px;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.body .videos .item .card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}

.body .videos .item .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.body .videos .item .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
}

.body .videos .item .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.body .videos .item .card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.body .videos .item .card .name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.body .videos .item .card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.body .videos .item .card .button button {
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.body .videos .item .card .button button:hover {
    background: #6616d0;
}


.owl-carousel .owl-next,
.owl-carousel .owl-prev{
    background-color: red !important;
    color: white;
    font-size: 30px !important;
    width: 40px;
    height: 100px;
    position: absolute;
    top: 35%;
}


.owl-carousel .owl-next{
    right: -50px;
}

.owl-carousel .owl-prev{
    left: -50px;
}

.v-cross-btn{
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;    
}