:root{
    --primaryColor:#0076de;
    --whiteColor: #fff;
    --blackColor: #333;
    --greyColor: #f6f8fa;
    --labelColor: #64b1f5;
    --yellowColor: #ffd723;
     --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,0.3);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    font-family: 'Nunito', sans-serif;
}
body{
    width:100%;
    height:auto;
}
h1 {
    line-height:1.5;
}
.navbar{
    width:100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding:1rem 2.5rem;
    z-index: 10;
    color: var(--whiteColor);
    background-color: transparent;
}

.navbar-logo > a{
    letter-spacing: 2.5;
    text-decoration: none;
    color: var(--whiteColor);
}

.navbar-menu{
    width: 21rem;
    display: flex;
    justify-content: space-between;

}

.navbar-menu >a{
    color: var(--whiteColor);
    text-decoration: none;
}
.menu-toggle{
    display: none;
}
.menu-toggle .bar{
    width:15px;
    height : 2px;
    margin:3px auto;
    transition: all 0.3 ease-in-out;
    background-color: var(--whiteColor);
    cursor: pointer;
}
header{
    width: 100%;
    height: 30rem;
    background-image: url("../images/header-2.webp"); 
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

    .header-title{
        position: relative;
        top: 7rem;
       margin-left: 3rem;
        letter-spacing: 3;
        font-weight: bolder;
        font-size: 52px;
        color: var(--whiteColor);
        text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);
    }

.header-title > span {
        color: var(--primaryColor);
}

.search-wrapper{
    width: 60%;
    margin:auto;
    min-width: 300px;
    height:3.5rem;
    position: relative;
}

.search-box{
    width: 100%;
    position: absolute;
    background-color: var(--greyColor);
    box-shadow: rgba(2, 11, 20, 0.2) 0px 5px 15px;
    top :-45%;
    height: 100%;
    width: 100%;
}

.search-card{
    display: flex;
    justify-content: space-between;
    height:100%;
    padding:0.5rem;
}

.search-input{
    height: 100%;
    width:100%;
    border:none;
    padding: 0.5rem;
}

.search-button{
    width: 200px;
    background: var(--primaryColor);
    border: none;
    color: var(--whiteColor);
    cursor: pointer;
}
.filter-box{
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    width: 60%;
    min-width: 300px;
    margin : auto;
}

.filter-dropdown {
    width: 100%;
    border-bottom: 1px solid var(--labelColor);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.filter-select{
    
    border: none;
    padding: 0.2rem;

}
.filter-select:hover{
    background: var(--greyColor);

}
.filter-chosen{
    width: 100%;
    padding: 0.3rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.chosen-card{
    background: var(--primaryColor);
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    color: var(--whiteColor);
    cursor: pointer;
}

.job-list{
    margin: 5%;
    padding: 1rem;
    background-color: var(--greyColor);   
    margin-top: 0;
}

.job-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    background-color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px ;
    cursor: pointer;
    border-radius: 23px;
}

.job-card:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.job-name{
    display: flex;
}

.job-profile{
    width: 66px;
    height: 70px;
    margin: 0.5rem;
}

.job-detail{
    padding: 0 10px;
}
.job-detail > h4{
    color: var(--primaryColor);
    font-size: 0.9rem;
}

.job-detail > p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.job-label{
    display: flex;
    flex-wrap: wrap;
}
.job-label > a{
    padding: 0 1rem;
    margin: 0.2rem;
    color: var(--whiteColor);
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.8rem;

}

.label-a {
    background-color: var(--yellowColor);
}

.label-b{
    background-color: var(--primaryColor);
}
.label-c{
background-color: black;
}

.job-posted{
    font-size: 0.;
}
.job-more{
    display: block;
    padding: 0.3rem 2rem;
    margin: 20px auto;
    width: 250px;
    background-color: transparent;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 20px;
    cursor: pointer;
}

.job-more:hover{
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.join{
    width: 100%;
    height: 350px;
    background-image: url("../images/news-letter_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--whiteColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    position: relative;
}
.join::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0,85,177,0.6)0%, rgba(0, 122,255,0.5)100%), 
    linear-gradient(180deg, rgba(0,122,255,0.65)0%, transparent 100%);
    z-index: 1;
}
.join-details{
    min-width: 280px;
    width: 50%;
    z-index: 2;
    margin-bottom: 1rem;
}
.join-details > h1{
    font-size: 36px;
    letter-spacing: 2;
}
.join-button {
    width: 200px;
    padding: 1rem;   
    border: none;
    color: var(--blackColor);
    background-color: var(--yellowColor);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    z-index: 2;
    cursor: pointer;
        
}

.join-button:hover{
    background: transparent;
    border: 2px solid var(--yellowColor);
    color: var(--yellowColor);
    
}

.featured{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--greyColor) ;

}

.section-title{
    margin-bottom: 0.5rem;
    letter-spacing: 1.5px;
    font-size: 36px;
}

.featured-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(180px,1fr)) px; */
    gap: 2rem;
    align-items: center;
    width: 100%;
    padding: 2% 10%;

}

.featured-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--whiteColor);
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px; 
    border-radius: 8%;
}

.featured-card:hover{
    box-shadow: rgba(100,100,111,0.2) 5px 7px 29px 0px;
}


.featured-image{
    height: 80px;
    margin-bottom: 0.2rem;
}


.featured-button{
    border: 1px solid var(--primaryColor);
    background-color: transparent;
    margin-top: 0.5rem;
    padding: 3px 10px;
    cursor: pointer;
    color: var(--primaryColor);
}

.featured-button:hover{
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}
/* Footer Section */
  
/* footer {
    position: fixed;
    bottom: 0;
} */

@media (max-height:800px) {
    footer {
        position: static;
    }
    /* header {
        padding-top: 40px;
    } */
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    /* margin-top: 80px; */
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 33px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

/* mobile */

@media screen and (max-width:668px) {
    .menu-toggle,
    .bar{
display: block;
z-index: 3;
    }

    .menu-toggle.is-active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-toggle.is-active .bar:nth-child(1){
        transform: translateY(5px) rotate(45deg);;
    }
    .menu-toggle.menu-toggle.is-active .bar:nth-child(3){
        transform: translateY(-5px) rotate(-45deg);
    }

    .navbar-menu{
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: var(--blackColor);
        display: none;
        padding: 5rem;
    }

    .navbar-menu.active{
        display: flex;
    }
    .navbar-menu a{
        color: var(--whiteColor);
        padding: 1.5rem;
    }
    .header-title{
        font-size:38px;
    }
}

@media screen and (max-width:486px) {
    .job-card{
        flex-wrap: wrap;
    }
    .header-title{
        font-size: 31px;
    }
    
}

@media screen and (max-width:376px){
    .header-title{
        font-size: 17px;
    }
    header{
        height: 15rem;
    }
    .featured-card{
        border-radius: 36px;
    }
}

@media screen and (max-width:298px){

    body{
        width:111%;
    }
    .navbar{
        width: 101%;
    }
    .header-title{
        top:76px;
        font-size:17px;
    }

    .search-wrapper{
        width: 60%;
        min-width: 272px;
    }

    .navbar{
        padding: 0.5rem 0.5rem;
    }

}