<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style/login.css" />
    <title>Forget Password</title>
  </head>
  <body>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
              class="img-fluid"
              alt="Sample image"
              style="width: 690px"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h1>Forgot Password</h1>
            <% 
                if(typeof message !== 'undefined'){
                    %> <h4 style="color: red;"><%= message %> </h4>
                    <%
                }
            %> 
            <form action="" method="post" enctype="multipart/form-data">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  name="password"
                  placeholder="Enter the Password"
                  id="form3Example3"
                  class="form-control form-control-lg"
                  placeholder="Enter a valid email address"
                />
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
              </div>
              <input type="hidden" name="user_id" value="<%= user_id %>">

              <div class="text-center text-lg-start mt-4 pt-2">
                <button
                  type="submit"
                  value="Reset Password"
                  class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem"
                >
                  Send Reset Email
                </button>
                <p class="small fw-bold mt-2 pt-1 mb-0">
                  Don't have an account?
                  <a href="/register" class="link-danger">Register</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

