<% include('../layouts/header.ejs') %>

<link rel="stylesheet" href="./style/style.css">

<div class="user-form">
    <div class="modalForm">
        <div class="fas fa-close" id="cross-btn"></div>
        <h1>Forgot Password</h1>
        <form action="" method="post" enctype="multipart/form-data" class="signIn">
            <div class="inputGroup">
                <input type="password" name="password" placeholder="Enter Password" required>
            </div>
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <input type="submit" value="Reset Password" class="btn">
        </form>
    </div>
</div>

<% include('../layouts/footer.ejs') %>