<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>

    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/resourses.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="./style/cardStyle.css">
</head>
<body>
    <header class="header">

        <div class="logo">
            <h3>Fortune<span>Maker</span></h3>
        </div>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#resources">resources</a>
            <a href="#job">job</a>
            <!-- <a href="#quiz">Quiz</a> -->
            <a href="#our-team">Our Team</a>
            <a href="#contact">contact</a>
        </nav>

        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="search" id="search-box" placeholder="Search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>

        <!-- <div class="sign">
            <div class="btn in">Sign In</div>
            <div class="btn up">Sign Up</div>
        </div> -->

    </header>

    <div class="resourse">
        <h2 id="heading" style="margin-top: 83px;">Resources</h2>

        <div>
            <h1>1st Year</h1>
            <section class="card-section">
                <div class="container">
                    <h2>C Programming</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/C Programming.png" alt="">
                            </div>
                            <!-- <h3>Data Structures</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Data Structures</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=cprogramming" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('c-programming')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/c-programming_21.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>
            
    
                <div class="container">
                    <h2>Electronics</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://previews.123rf.com/images/radiantskies/radiantskies1211/radiantskies121100041/16084060-abstract-word-cloud-for-discrete-mathematics-with-related-tags-and-terms.jpg" alt="">
                            </div>
                            <!-- <h3>Discrete Maths</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Discrete Maths</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=electronics" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('electronics')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/electronics-engineering.html                                " target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="container">
                    <h2>English 1</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/English.jpg" alt="">
                            </div>
                            <!-- <h3>Microprocessor</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Microprocessor</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=english1" target="_blank">Learn More</a>
                            </div>
                            <!-- <div class="btn" onclick="load('english-1')"> 
                                Videos
                            </div> -->
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/english-i.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="container">
                    <h2>Eng. Maths</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/math.jpg" alt="">
                            </div>
                        </div>
                        <div class="back">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=engmath" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('eng-maths')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/mathematics-i.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Physics</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/physics.jpg" alt="">
                            </div>
                            <!-- <h3>Computer Network</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Computer Network</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=physics" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('physics')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/physics.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Electrical</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/electrical-engineering.jpg" alt="">
                            </div>
                            <!-- <h3>Computer Organisation</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Computer Organisation</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=electrical" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('electrical')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/electrical-engineering.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Mechanical</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/mechanical.jpg" alt="">
                            </div>
                            <!-- <h3>Java</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Java</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=mechanical" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('mechanical')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/mechanical-engineering.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Chemistry</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/chemistry.jpg" alt="">
                            </div>
                            <!-- <h3>Operating System</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Operating System</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=chemistry" target="_blank">Learn More</a>
                            </div>
                            <!-- <div class="btn" onclick="load('chemistry')"> 
                                Videos
                            </div> -->
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/chemistry.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>English 2</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/English.jpg" alt="">
                            </div>
                            <!-- <h3>Software Engineering</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Software Engineering</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=english2" target="_blank">Learn More</a>
                            </div>
                            <!-- <div class="btn" onclick="load('english-2')"> 
                                Videos
                            </div> -->
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/english-ii.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Eng. Maths 2</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/math2.jpg" alt="">
                            </div>
                            <!-- <h3>Software Engineering</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Software Engineering</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=engmath2" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('eng-maths-2')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/mathematics-ii.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Python</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="../images/python.png" alt="">
                            </div>
                            <!-- <h3>Software Engineering</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Software Engineering</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=python" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('python')"> 
                                Videos
                            </div>
                            <div class="btn"> 
                                <a href="https://himanshunotes03.blogspot.com/2022/11/python.html" target="_blank">Notes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- <hr> -->

        <div>
            <h1>2nd Year</h1>
            <section class="card-section">
                <div class="container">
                    <h2>Data Structures</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://www.freecodecamp.org/news/content/images/2021/06/1_s6hhrgR5_tXpO_j7uKaHMw-1.png" alt="">
                            </div>
                            <!-- <h3>Data Structures</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Data Structures</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=dsa" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('dsa')"> 
                                Videos
                            </div>
                            
                        </div>
                    </div>
                </div>
            
    
                <div class="container">
                    <h2>Discrete Maths</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://previews.123rf.com/images/radiantskies/radiantskies1211/radiantskies121100041/16084060-abstract-word-cloud-for-discrete-mathematics-with-related-tags-and-terms.jpg" alt="">
                            </div>
                            <!-- <h3>Discrete Maths</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Discrete Maths</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=discretemath" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('discrete')"> 
                                Videos
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="container">
                    <h2>Microprocessor</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/UJP73H47EBD35J6LK26NECNWN4.jpg" alt="">
                            </div>
                            <!-- <h3>Microprocessor</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Microprocessor</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=microprocessor" target="_blank">Learn More</a>
                            </div>
                            <!-- <div class="btn" onclick="load('microprocessor')"> 
                                Videos
                            </div> -->
                        </div>
                    </div>
                </div>
        
                <div class="container">
                    <h2>DBMS</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://thumbs.dreamstime.com/z/dbms-line-art-concept-vector-database-management-systemt-round-banner-web-resources-programming-server-elements-77290437.jpg" alt="">
                            </div>
                            <!-- <h3>Database Management System</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Database Management System</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=dbms" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('dbms')"> 
                                Videos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Computer Network</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://images.velog.io/images/cksdnr066/post/cbfb1fef-60e0-477a-9e7e-920c528c448f/computer-networking-1024x683.jpg" alt="">
                            </div>
                            <!-- <h3>Computer Network</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Computer Network</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=computernetwork" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('cn')"> 
                                Videos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Computer Organisation</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://d3mxt5v3yxgcsr.cloudfront.net/courses/1961/course_1961_image.png" alt="">
                            </div>
                            <!-- <h3>Computer Organisation</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Computer Organisation</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=computerorganisation" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('co')"> 
                                Videos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Java</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs/171875643/original/496b0f89500a77cb825464584e2fea12001740a0.jpg" alt="">
                            </div>
                            <!-- <h3>Java</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Java</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=java" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('java')"> 
                                Videos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Operating System</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://binarymove.com/wp-content/uploads/2018/11/Operating-System.png" alt="">
                            </div>
                            <!-- <h3>Operating System</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Operating System</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=operating" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('os')"> 
                                Videos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h2>Software Engineering</h2>
                    <div class="card">
                        <div class="front">
                            <div class="img">
                                <img src="https://www.wur.nl/upload/44147869-1a3e-4fa3-ab4a-4f88ffae171d_Educationpage_INF_ss_139233017_800x800%20-%20Blue_Hue-Sat_adjustlayer.jpg" alt="">
                            </div>
                            <!-- <h3>Software Engineering</h3> -->
                        </div>
                        <div class="back">
                            <!-- <h3>Software Engineering</h3> -->
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                            <div class="btn"> 
                                <a href="/subject/?sub=software" target="_blank">Learn More</a>
                            </div>
                            <div class="btn" onclick="load('se')"> 
                                Videos
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Fortune<span>Maker</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright © 2022 <strong>Fortune Maker</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>GLA University, Mathura</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 819*****43</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="">fortune.maker@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Fortune Maker</strong> is a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, delectus Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis atque quis
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <!-- 1st Year -->

    <div class="body c-programming">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('c-programming')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="../images/CWH.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Code With Harry</span>
                            </div>
    
                            <div class="button">

                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" target="_blank"> Get Videos </a></button>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="../images/jenny.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Jenny's Lecture</span>
                            </div>
    
                            <div class="button">

                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLdo5W4Nhv31a8UcMN9-35ghv8qyFWD9_S" target="_blank"> Get Videos </a></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="body electronics">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('electronics')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Neso Academy</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLBlnK6fEyqRiw-GZRqfnlVIBz9dxrqHJS" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Neso Academy</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLBlnK6fEyqRjMH3mWf6kwqiTbT798eAOm" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- <div class="body english-1">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('english-1')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/playlist?list=PLU6SqdYcYsfINU_Y9CMp1pZ827ZB1U-Xn" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><h4>2</h4></div>
                <div class="item"><h4>3</h4></div>
                <div class="item"><h4>4</h4></div>
                <div class="item"><h4>5</h4></div>
            </div>
        </section>
    </div> -->

    <div class="body eng-maths">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('eng-maths')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="/Fortune-Maker-1/assets/images/Anuj-Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">MKS Tutorials</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/@ManojKumarSahoo/playlists" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Bhagwan Singh Vishwakarma</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/@BhagwanSinghVishwakarma/playlists" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="body physics">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('physics')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">University Academy</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/playlist?list=PL-JvKqQx2Atc-7gw0SglqTajukZhc6Azu" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="body electrical">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('electrical')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Gate Academy Plus</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/playlist?list=PL9RcWoqXmzaLTYUdnzKhF4bYug3GjGcEc" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Khan Academy</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLSQl0a2vh4HCLqA-rhMi_Z_WnBkD3wUka" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </section>
    </div>

    <div class="body mechanical">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('mechanical')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Engineering Funda</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/playlist?list=PLgwJf8NK-2e7Fe4vAYDaL0bpseGNhc9on" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- <div class="body chemistry">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('chemistry')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/playlist?list=PL4BETMztLJZbw5PUGSH8u4GiZOt4NG64x" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><h4>2</h4></div>
                <div class="item"><h4>3</h4></div>
                <div class="item"><h4>4</h4></div>
                <div class="item"><h4>5</h4></div>
            </div>
        </section>
    </div> -->

    <!-- <div class="body english-2>
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('english-2')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe">Get Videos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><h4>2</h4></div>
                <div class="item"><h4>3</h4></div>
                <div class="item"><h4>4</h4></div>
                <div class="item"><h4>5</h4></div>
            </div>
        </section>
    </div> -->

    <div class="body eng-maths-2>
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('eng-maths-2')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Dr. Gajendra Purohit</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/c/DrGajendraPurohitMathematics/playlists" target="_blank"> Get Videos </a></button>" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </section>
    </div>

    <div class="body python">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('python')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="." alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Telusko</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/playlist?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <!-- 2nd Year -->

    <div class="body dsa">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('dsa')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLu0W_9lII9ahIappRPN0MCAgtOu3lQjQi" target="_blank"> Get Videos </a> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="/Fortune-Maker-1/assets/images/Anuj-Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLUcsbZa0qzu3yNzzAxgvSgRobdUUJvz7p" target="_blank"> Get Videos </a> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLfqMhTWNBTe0sPLFF91REaJQEteFZtLzA" target="_blank"> Get Videos </a> </button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>

    <div class="body discrete">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('discrete')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://www.youtube.com/channel/UCtgouiBvZ9c5xu3PZlrZB5w/playlists" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>

    <!-- <div class="body microprocessor">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('microprocessor')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe">Get Videos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><h4>2</h4></div>
                <div class="item"><h4>3</h4></div>
                <div class="item"><h4>4</h4></div>
                <div class="item"><h4>5</h4></div>
            </div>
        </section>
    </div> -->

    <div class="body cn">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('cn')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLrjkTql3jnm-iqlEOuVTkmCaRP8F2H3-u" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <div class="body co">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('co')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLxCzCOWd7aiHMonh3G6QNKq53C6oNXGrX" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLBlnK6fEyqRgLLlzdgiTUKULKJPYc0A4q"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLG9aCp4uE-s3WzvFW1nI-7hHWNC8s2RdI"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="body java">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('java')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLfqMhTWNBTe3LtFWcvwpqTkUSlB32kJop" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLu0W_9lII9agS67Uits0UnJyrYiXhDS6q" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </section>
    </div>

    <div class="body os">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('os')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLxCzCOWd7aiGz9donHRrE9I3Mwn6XdP8p" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLBlnK6fEyqRiVhbXDGLXDk_OQAeuVcp2O" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLmXKhU9FNesSFvj6gASuWmQd23Ul5omtD" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>

    <div class="body se">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('se')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLxCzCOWd7aiEed7SKZBnC6ypFDWYLRvB2" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>
    
                            <div class="button">
                                <button class="hireMe"> <a href="https://youtube.com/playlist?list=PLrjkTql3jnm9b5nr-ggx7Pt1G4UAHeFlJ" target="_blank"> Get Videos </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            dots:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        })
    </script>

    <script src="./scripts/script.js"></script>
</body>
</html>