<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/postBlog.css">
</head>

<body>
    <div class="wrapper">
        <h2>Post Blog</h2>
        <% if(typeof message !== 'undefined'){ %>
          <h4 style="color: red"><%= message %></h4>
          <% } %>
        <form action="/postBlog" method="post" enctype="multipart/form-data">
            <div class="input-box">
                <select name="name" id="">
                    <option value="" selected disabled>Select Subject</option>
                    <option value="cprogramming">C Programming</option>
                    <option value="english1">English-1</option>
                    <option value="engmath">Eng Maths-1</option>
                    <option value="physics">Physics</option>
                    <option value="electrical">Electrical</option>
                    <option value="mechanical">Mechanical</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="english2">English-2</option>
                    <option value="engmath2">Eng Maths-2</option>
                    <option value="python">Python</option>
                    <option value="dsa">DSA</option>
                    <option value="discretemath">Discrete Maths-3</option>
                    <option value="microprocessor">Microprocessor</option>
                    <option value="dbms">DBMS</option>
                    <option value="computernetwork">Computer Network</option>
                    <option value="computerorganisation">Computer Orgaisation</option>
                    <option value="java">Java</option>
                    <option value="operating">Operating Sytsem</option>
                    <option value="softwareeng">Software Eng.</option>   
                </select>
            </div>
            <div class="input-box blog-text">
              <!-- <input
              type="string"
              name="description"
              placeholder="Enter the blog"
              required
            /> -->
            <textarea type="string"  name="description" placeholder="Enter the blog" cols="50" rows="10" required></textarea>
            </div>
            <div class="input-box button">
                <input type="Submit" value="Submit Now">
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't want to write the blog
              <a href="/home" class="link-danger">Go To Home</a>
            </p>
        </form>
    </div>
</body>

</html>