<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune Maker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="./style/cardStyle.css">
</head>

<body>

    <header class="header">

        <div class="logo">
            <h3>Fortune<span>Maker</span></h3>
        </div>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="/#about">about</a>
            <a href="/moreResources">resources</a>
            <a href="/home">job</a>
            <!-- <a href="#quiz">Quiz</a> -->
            <a href="/#our-team">Our Team</a>
            <a href="/admin">Admin</a>
        </nav>

        <!-- <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="search" id="search-box" placeholder="Search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div> -->

        <!-- <div class="sign">
            <div class="btn in">Sign In</div>
            <div class="btn up">Sign Up</div>
        </div> -->

    </header>

    <!-- <div class="user-form">
        <div class="modalForm">
            <div class="fas fa-close" id="cross-btn"></div>
            <form action="" class="signUp">
                <div class="inputGroup">
                    <input type="text" name="" id="" placeholder="Name">
                </div>
                <div class="inputGroup">
                    <input type="text" name="" id="" placeholder="University Roll No.">
                </div>
                <div class="inputGroup">
                    <input type="text" name="" id="" placeholder="Email Address">
                </div>
                <div class="inputGroup">
                    <input type="text" name="" id="" placeholder="New Password">
                </div>
                <div class="inputGroup">
                    <input type="text" name="" id="" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn">Sign Up</button>
            </form>

            <form action="" class="signIn">
                <div class="inputGroup">
                    <input type="text" name="" id="" placeholder="Email Address">
                </div>
                <div class="inputGroup">
                    <input type="text" name="" id="" placeholder="Password">
                </div>
                <button type="submit" class="btn">Sign In</button>
            </form>
        </div>
    </div> -->

    <section class="home" id="home">

        <div class="content">
            <h2>Teachers open the door, but you must <span>enter by yourself.</span></h2>
            <p>It's a child's play to find well-fined industry-level resources and jobs here.</p>
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn" style="margin-left: 10px;">Register</a>
        </div>

    </section>

    <section id="about">
        <div class="section-about">
            <div class="container-about">
                <div class="title">
                    <h1>About Fortune Maker</h1>
                </div>

                <div class="content-section">
                    <div class="content">
                        <h3>Site that connects Seeker to keeper !</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veritatis tempora earum dolores
                            ex! Dolorum eius quos quis voluptate dolore. Id harum exercitationem ab odit, nulla libero
                            eveniet eligendi doloremque veritatis modi laudantium, fugiat animi debitis aliquam velit
                            tempora. </p>
                        <br>
                        <br>
                        <div class="button">
                            <a href="#our-team">Read More</a>
                        </div>
                    </div>
                    <div class="social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="image-section">

                    <video controls loop autoplay src="./video/WhatsApp Video 2022-07-27 at 11.55.34 AM.mp4"></video>
                </div>
            </div>
        </div>

    </section>

    <h2 id="heading">Resources</h2>
    <section class="card-section">

        <div class="container">
            <h2>Data Structures</h2>
            <div class="card">
                <div class="front">
                    <div class="img">
                        <img src="https://www.freecodecamp.org/news/content/images/2021/06/1_s6hhrgR5_tXpO_j7uKaHMw-1.png"
                            alt="">
                    </div>
                    <!-- <h3>Data Structures</h3> -->
                </div>
                <div class="back">
                    <!-- <h3>Data Structures</h3> -->
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn">
                        <a href="https://drive.google.com/drive/folders/1cmSWUeoUhS_FZ-bgi1ytXO0P40LZ66lR?usp=share_link"
                            target="_blank">Learn More</a>
                    </div>
                    <div class="btn" onclick="load('dsa')">
                        Videos
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Discrete Maths</h2>
            <div class="card">
                <div class="front">
                    <div class="img">
                        <img src="https://previews.123rf.com/images/radiantskies/radiantskies1211/radiantskies121100041/16084060-abstract-word-cloud-for-discrete-mathematics-with-related-tags-and-terms.jpg"
                            alt="">
                    </div>
                    <!-- <h3>Discrete Maths</h3> -->
                </div>
                <div class="back">
                    <!-- <h3>Discrete Maths</h3> -->
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn">
                        <a href="https://drive.google.com/drive/folders/10kIB_hxW9ydIZZtuyTk9PQdLly-Lr5Z4?usp=share_link"
                            target="_blank">Learn More</a>
                    </div>
                    <div class="btn" onclick="load('discrete')">
                        Videos
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Microprocessor</h2>
            <div class="card">
                <div class="front">
                    <div class="img">
                        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/UJP73H47EBD35J6LK26NECNWN4.jpg"
                            alt="">
                    </div>
                    <!-- <h3>Microprocessor</h3> -->
                </div>
                <div class="back">
                    <!-- <h3>Microprocessor</h3> -->
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn">
                        <a href="https://drive.google.com/drive/folders/1QPeog-qdTySEwKkXAG0bIwrtpVslcGW-?usp=share_link"
                            target="_blank">Learn More</a>
                    </div>
                    <div class="btn" onclick="load('microprocessor')">
                        Videos
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>DBMS</h2>
            <div class="card">
                <div class="front">
                    <div class="img">
                        <img src="https://thumbs.dreamstime.com/z/dbms-line-art-concept-vector-database-management-systemt-round-banner-web-resources-programming-server-elements-77290437.jpg"
                            alt="">
                    </div>
                    <!-- <h3>Database Management System</h3> -->
                </div>
                <div class="back">
                    <!-- <h3>Database Management System</h3> -->
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quidem dolore nisi velit.</p>
                    <div class="btn">
                        <a href="https://drive.google.com/drive/folders/1ypcLTIOhxW0nVGwNPc2uh5oSZBgHM54x?usp=share_link"
                            target="_blank">Learn More</a>
                    </div>
                    <div class="btn" onclick="load('dbms')">
                        Videos
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="card-section btn" id="load-more-btn"> <a href="/moreResources" target="_blank"> Explore Courses </a></div>


    <h2 id="heading">OUR TEAM</h2>
    <div id="our-team" class="main">
        <div class="profile-card">
            <div class="img">
                <img src="./images/vaibhav.png">
            </div>
            <div class="caption">
                <h3>Vaibhav Varshney</h3>
                <p>Full Stack Developer</p>
                
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="./images/santosh.png">
            </div>
            <div class="caption">
                <h3>Santosh Morya</h3>
                <p>Full Stack Developer</p>
                
            </div>
        </div>
       
        <div class="profile-card">
            <div class="img">
                <img src="./images/mradul.png">
            </div>
            <div class="caption">
                <h3>Mradul Varshney</h3>
                <p>Full Stack Developer</p>
                
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="./images/himanshu.png">
            </div>
            <div class="caption">
                <h3>Himanshu Khuswaha</h3>
                <p>Full Stack Developer</p>
                
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="./images/garima.png">
            </div>
            <div class="caption">
                <h3>Garima Gautam</h3>
                <p>Full Stack Developer</p>
               
            </div>
        </div>
    </div>

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Fortune<span>Maker</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright © 2022 <strong>Fortune Maker</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>GLA University, Mathura</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 819*****43</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="">fortune.maker@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About us</span>
                <strong>Fortune Maker</strong> is a Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                delectus Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis atque quis
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <div class="body dsa">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('dsa')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>

                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>

                            <div class="button">
                                <button class="hireMe">Get Videos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h4>2</h4>
                </div>
                <div class="item">
                    <h4>3</h4>
                </div>
                <div class="item">
                    <h4>4</h4>
                </div>
                <div class="item">
                    <h4>5</h4>
                </div>
            </div>
        </section>
    </div>

    <div class="body discrete">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('discrete')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/Anuj Bhaiya.jpg" alt="">
                            </div>

                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>

                            <div class="button">
                                <button class="hireMe">Get Videos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h4>2</h4>
                </div>
                <div class="item">
                    <h4>3</h4>
                </div>
                <div class="item">
                    <h4>4</h4>
                </div>
                <div class="item">
                    <h4>5</h4>
                </div>
            </div>
        </section>
    </div>

    <div class="body microprocessor">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('microprocessor')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/garima.png" alt="">
                            </div>

                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>

                            <div class="button">
                                <button class="hireMe">Get Videos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h4>2</h4>
                </div>
                <div class="item">
                    <h4>3</h4>
                </div>
                <div class="item">
                    <h4>4</h4>
                </div>
                <div class="item">
                    <h4>5</h4>
                </div>
            </div>
        </section>
    </div>

    <div class="body dbms">
        <section class="videos">
            <div class="fas fa-close v-cross-btn" onclick="closed('dbms')"></div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="./Himanshu/img/garima.png" alt="">
                            </div>

                            <div class="name-profession">
                                <span class="name">Anuj Bhaiya</span>
                            </div>

                            <div class="button">
                                <button class="hireMe">Get Videos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h4>2</h4>
                </div>
                <div class="item">
                    <h4>3</h4>
                </div>
                <div class="item">
                    <h4>4</h4>
                </div>
                <div class="item">
                    <h4>5</h4>
                </div>
            </div>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="./scripts/script.js"></script>
    </div>
</html>
